.coverage
pip-wheel-metadata/
*.egg-info/
.ipynb_checkpoints/
dist/
build/
docs-dist/
*.py[cod]
node_modules/
tests/data/*
!tests/data/test.ome.tif
./notebooks/
docs/notebooks/data/
__pycache__/
.snakemake/
.coverage
demos/*/data/
demos/*/vitessce.local.json
demos/*/vitessce.remote.json
.pytest_cache/

# Compiled javascript
vitessce/static/
vitessce/nbextension/
vitessce/labextension/


# Created by jupyter labextension install
js/yarn.lock
vitessce/yarn.lock

# OS X
.DS_Store
.nova/
.vscode/
