*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/

# Compiled javascript
vitessce/static/

# Created by jupyter labextension install
js/yarn.lock
vitessce/yarn.lock

# OS X
.DS_Store
