*.egg-info/
.ipynb_checkpoints/
dist/
build/
docs-dist/
*.py[cod]
node_modules/
tests/data/
./notebooks/
docs/notebooks/data/

# Compiled javascript
vitessce/static/

# Created by jupyter labextension install
js/yarn.lock
vitessce/yarn.lock

# OS X
.DS_Store
.nova/
.vscode/