

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

 body {
    font-weight: 400;
    font-family: Inter,'Helvetica Neue',Arial,sans-serif;
 }

.rst-content .toctree-wrapper>p.caption,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-weight: 600;
    font-family: Inter,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}

.wy-side-nav-search {
    background-color: rgb(119, 134, 197);
}

.wy-side-nav-search::before {
    content: " ";
    background-image: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: 120px;
    display: block;
    position: relative;
    z-index: 201;
    text-align: center;
    margin: 0 auto;
}