name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
      - run: uv sync --extra dev
      - run: flake8
