name: Test the vitessce package

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-18.04
    name: Build and test
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: vitessce-python-dev
          environment-file: environment.yml
          python-version: 3.8
          auto-activate-base: false
      - run: |
          conda info
          conda list
      - name: Install vitessce
        run: pip install -e .
      - name: Run tests
        working-directory: ./tests
        run: python -m unittest
